<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link rel="tag" id="apiRoot" href="@this.ApiRoot" />
    <link rel="tag" id="webRoot" href="@this.WebRoot" />


    <title>Domain Architecture</title>

    @Styles.Render("~/bundles/css")

</head>

<body ng-app="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Example.DomainArchitecture</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("AngularApp", "Home")">Angular App</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">@this.DisplayName</a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <div class="container body-content" style="margin-top:100px">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Example.DomainArchitecture Template Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

</body>

</html>
